:root {
  --accent-color: #fff;
}

.header {
  transition: all .5s;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  margin: auto;
  padding: 1.5% 0;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #0000
}

.header.solid {
  background-color: #000;
  padding: .5% 0
}

.header.solid>a {
  color: #fff
}

.header.space-around {
  justify-content: space-around
}

.header.space-between {
  justify-content: space-between
}

.header>a {
  transition: all 0.5s;
  font-family: 'Anton', sans-serif;
  text-align: center;
  margin: auto;
  padding: .5%;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 16pt;
  color: #000
}

.header>a:first-child {
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  background-color: #000;
  margin-left: 5%
}

.header .divider {
  transition: all 0.5s;
  border-right: 2px solid #000
}

.header .holder {
  display: flex;
  text-align: right;
  margin: auto auto auto 0;
  
}

.header img {
  transition: all 0.5s;
  width: 20%;
  filter: brightness(0);
  padding: 4%
}

.header.solid img {
  filter: brightness(1)
}

.header .button:hover {
  background-color: #000;
  color: var(--accent-color)
}

.header.solid .button:hover {
  background-color: var(--accent-color);
  color: #000
} 