body,
html {
  color: #000;
  background-color: #fff
}

.home-container {
  background-color: var(--accent-color);
}

.home-container {
  transition: .5s;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
  justify-content: space-evenly
}

.home-left-div,
.home-right-div {
  position:relative;
  padding-top: 25%;
  width: 55%
}

.home-right-div {
  width: 45%;
  margin: auto auto 2.5% auto;
  padding: 5% 0; 
  background: repeating-linear-gradient(
  45deg,
  #000,
  #000 10px,
  #0000 10px,
  #0000 20px
  );
  background-attachment: fixed
}

.home-right-div-text {
  width: auto;
  margin: -5% 0 -5% -5%;
  padding: 5%;
  background: #000
}

.home-right-div-text>h2 {
  color: #fff;
  font-weight: 400;
  font-size: 22pt;
}

.home-left-div>img {
  transition: .5s;
  width: 40%;
  position: absolute;
  transform: translateX(50%);
  bottom: -1px;
}

.expandable-list {
  width: 100%;
  margin: auto;
  height: auto
}

.title {
  font-size: 26pt;
  color: #363636;
  width: auto
}

.expandable-list i {
  color: #363636;
  font-size: 32pt;
  width: auto;
  float: right
}

.expandable-list .description {
  width: 100%;
  height: auto
}

.seperator {
  width: 100vw;
  height: auto;
  margin: auto;
  background-size: cover;
  background-color: #000
}

.seperator>h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 300;
  padding: 30px 0;
  margin: 0 5%;
  letter-spacing: 6px;
  color: #fff;
  font-size: 72pt;
  overflow: auto
}