:root {
  --accent-color: #fff
}

::-webkit-scrollbar {
  width: 0;
  background: 0 0
}

::selection {
  background: var(--accent-color)
}
::-moz-selection {
  background: var(--accent-color)
}

body,
html {
  margin: auto;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.nav-container {
  width: 25%;
  height: 100%;
  text-align: center;
<<<<<<< HEAD
  background-color: #000;
=======
  background-color: red;
>>>>>>> dabe483f7571de12221df9b2bc263cb9c088ce34
  padding: 2%;
}

.nav-container>img {
  max-width: 50%;
  max-width: 50%;
}

.nav-container>a {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 32pt;
  color: #fff
}

.body-container {
  width: 75%;
  height: 100%;
<<<<<<< HEAD
=======
  background-color: blue;
>>>>>>> dabe483f7571de12221df9b2bc263cb9c088ce34
}

.fade-in {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 2;
  opacity: 1;
  -webkit-transition: background 1000ms ease-in-out;
  transition: background 1000ms ease-in-out
}