@media screen and (max-width:800px) {
    .nav .divider {
        display: none
    }

    .nav>a {
        font-size: 16pt
    }

    .nav>a:first-child {
        margin: auto;
        padding: 2px 2px 2px 4px;
        letter-spacing: 3px;
        text-align: center;
    }

    .nav a:not(:first-child) {
        display: none;
        font-size: 22pt
    }

    .nav i {
        font-size: 28pt
    }

    .nav a:last-child {
        display: block
    }

    .seperator>h1 {
        text-align: center;
        margin: auto
    }

    .nav .icon {
        text-align: center;
        font-size: 40pt;
        padding: auto;
        float: right;
        display: block;
        color: #fff;
        background-color: #000
    }

    .nav>a.icon:hover {
        color: #ff003c;
        background-color: #000
    }

    .nav.responsive {
        font-size: 10pt;
        height: auto;
        position: fixed;
        flex-direction: column
    }

    .nav.responsive .icon {
        font-size: 40pt;
        margin: auto
    }

    .nav.responsive>a {
        display: flex;
        padding: 1%;
        margin: auto
    }

    .nav.responsive>a:first-child {
        margin-bottom: 2%;
        padding: 2px 2px 2px 4px
    }

    .nav.responsive>a:last-child {
        margin: -1%
    }

    .home-container {
        transition: .5s;
        flex-direction: column
    }

    .home-left-div,.home-right-div {
        transition: .5s;
        width: 100%
    }

    .home-left-div>img {
        transition: .5s;
        width: 50%
    }
}
