@import url('https://fonts.googleapis.com/css?family=Anton');

.nav {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-family: 'Anton', sans-serif;
	background-color: var(--backgroundVar);
	margin: 0px;
}

.toggle-cont {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 4vh;
	line-height: 4.5vh;
	padding-bottom: 20px;
	pointer-events: none;
	font-family: Arial, Helvetica, sans-serif;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 1024px) {
	.nav-a {
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		-ms-flex-direction: column !important;
		flex-direction: column !important;
		text-align: center;
	}
}

.nav-a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 1.5% 10%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	font-size: 40pt;
}

.nav-a a {
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
	padding: 0 1%;
	text-decoration: none;
}

.nav-a a:link {
	color: var(--text);
}

.nav-a a:visited {
	color: var(--text);
}

.nav-a a:active {
	color: var(--secondary);
}

.nav-a a:hover {
	color: var(--secondaryVar);
}

.bar {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 1.5% 0;
}

.block {
	width: 42px;
	height: 42px;
	margin: 0 8px;
}

.background {
	background-color: var(--background);
	border: 4px solid var(--text);
}

.secondary {
	background-color: var(--secondary);
	border: 4px solid var(--secondaryVar);
}

.visible {
	opacity: 0;
}
