.resume-container {
  background-color: var(--accent-color);
}

.resume-container {
  transition: .5s;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.resume-left-div,
.resume-right-div {
  position: relative;
  padding-top: 25%;
  width: 55%
}

.resume-left-div {
  width: 45%;
  margin: auto auto 2.5% auto;
  padding: 5% 0; 
  background: repeating-linear-gradient(
  45deg,
  #000,
  #000 10px,
  #0000 10px,
  #0000 20px
  );
  background-attachment: fixed
}

.resume-right-div>h2 {
  color: #fff;
  font-weight: 400;
  font-size: 28pt
}

.resume-left-div-text {
  width: auto;
  margin: -5% -5% -5% 0;
  padding: 5%;
  background: #000
}

.icon-title-container>h2 {
  color: #fff;
  font-weight: 400;
  font-size: 22pt
}

.resume-right-div>img {
  transition: .5s;
  width: 50%;
  position: absolute;
  transform: translateX(50%);
  bottom: 0px
}

.icon-title-container {
  display: flex;
  width: 100%;
  float: left;
  background: red
}

.icon-title-container>img {
  width: 5%;
  height: 5%;
  text-align: center
}