@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.header {
	width: 100%;
	font-size: 3vw;
	font-family: 'Open Sans', sans-serif;
}

.body-cont {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5vw;
}

@media screen and (max-width: 1024px) {
	.header {
		font-size: 8vw;
	}

	.body-cont {
		font-size: 4vw;
	}
}
